<!DOCTYPE html>
<html>
<title>Rodo's CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {padding: 12px;}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
    <li class="w3-opennav w3-right w3-hide-large">
      <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="#" class="w3-theme-l1">{{ app_name }}</a></li>
{% for (name, url) in menu %}
    <li class="w3-hide-small"><a href="{{url}}" class="w3-hover-white">{{ name }}</a></li>
{%endfor%}
 </ul>
</div>

<nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="visibility:hidden;z-index:3;width:250px;margin-top:51px;" id="mySidenav">
  <a  onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black " title="close menu">
    Close<i class=""></i>
  </a>
  <h4><b>Menu</b></h4>
{% for (name, url) in menu %}
    <a href="{{url}}" class="w3-hover-black">{{ name }}</a>
{%endfor%}
</nav>


<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main" style="margin-left:0px">

<div class="w3-container">
<!-- CONTENT  -->
  <div class="w3-center w3-padding-64">
{% block content %}
<hr>
<div class="w3-responsive w3-card-4">
    <h2 class="w3-text-teal">Inicio !</h2>
    <p w3-class="w3-large">Nada interesante aca anda a tables !</p>
</div>
<hr>
{% endblock  %}
  </div>
  </div>


  <footer id="myFooter">
    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> Python and Flask; By Rodolfo Aragno 2017</p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.visibility == 'hidden') {
        mySidenav.style.display = 'block';
        mySidenav.style.visibility = 'visible'; 
       // overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'none';
       // overlayBg.style.display = "block";
        mySidenav.style.visibility = 'hidden'; 
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    //overlayBg.style.display = "none";
    mySidenav.style.visibility = 'hidden'; 
}
</script>

</body>
</html>
